<div class="iq-navbar-custom">
    <script src="/assets//vendor/sweetalert/swal2.js"></script>
    <link rel="stylesheet" href="/assets/vendor/notifiction/style.css"></link>
    <script src="/assets/vendor/notifiction/index.var.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
        <i class="fa-solid fa-bars wrapper-menu"></i>
        <a href="/user/" class="header-logo">
            <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
            <img src="/assets/images/logo-white.png" class="img-fluid rounded-normal darkmode-logo" alt="logo">
        </a>
    </div>
        <div class="iq-search-bar device-search">
                <div class="input-prepend input-append">
                    <div class="btn-group">
                        <label class="dropdown-toggle searchbox" data-toggle="dropdown">
                        <input id="search_bar" class="dropdown-toggle search-query text search-input" type="text"  placeholder="Type here to search..." oninput="load_searches(event,'reslts')"><span class="search-replace"></span>
                        <a class="search-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <span class="caret"><!--icon--></span>
                        </label>
                        <ul class="dropdown-menu">
                            <ul style="list-style: none;max-height: 20vh;overflow-y: scroll;" id="reslts">

                            </ul>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="change-mode">
                <div class="custom-control custom-switch custom-switch-icon custom-control-inline">
                    <div class="custom-switch-inner">
                        <p class="mb-0"> </p>
                        <input type="checkbox" class="custom-control-input" id="dark-mode" data-active="true">
                        <label class="custom-control-label" for="dark-mode" data-mode="toggle">
                            <span class="switch-icon-left"><i class="fa-solid fa-moon"></i></span>
                            <span class="switch-icon-right"><i class="fa-solid fa-sun"></i></span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-list align-items-center">
                <li class="nav-item nav-icon search-content">
                    <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                        <div class="searchbox p-2">
                            <div class="form-group mb-0 position-relative">
                            <input id="search_bar" type="text" class="text search-input font-size-12" placeholder="type here to search..." oninput="load_searches(event,'resltsmin')">
                            <a href="#" class="search-link"><i class="fa-solid fa-magnifying-glass"></i></a> 
                            <ul style="list-style: none;max-height: 40vh;overflow-y: scroll;font-size: 16px;" id="resltsmin">

                            </ul>
                            </div>
                        </div>
                    </div>
                </li> 
                <li class="nav-item nav-icon dropdown">
                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-question"></i>
                    </a>
                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton01">
                        <div class="card shadow-none m-0">
                            <div class="card-body p-0 ">
                                <div class="p-3">
                                    <a href="#" class="iq-sub-card pt-0"><i class="fa-solid fa-handshake-angle"></i>Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-icon dropdown">
                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-toolbox"></i>
                    </a>
                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton01">
                        <div class="card shadow-none m-0">
                            <div class="card-body p-0 ">
                                <div class="p-3">
                                    <a onclick="decryptFile()" class="iq-sub-card pt-0" style="cursor:default;"><i class="fa-solid fa-right-left"></i>Decrypt File</a>
                                </div>
                                <div class="p-3">
                                    <a href="/share/live" class="iq-sub-card pt-0" style="cursor:default;"><i class="fa-solid fa-tower-broadcast"></i>Live Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-icon dropdown"> 
                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton02">
                        <div class="card shadow-none m-0">
                            <div class="card-body p-0 ">
                                <div class="p-3">
                                    <a href="#" class="iq-sub-card pt-0"><i class="ri-settings-3-line"></i> Settings</a>
                                    <a href="#" class="iq-sub-card"><i class="ri-hard-drive-line"></i> Get Drive for desktop</a>
                                    <a href="#" class="iq-sub-card"><i class="ri-keyboard-line"></i> Keyboard Shortcuts</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-icon dropdown caption-content">
                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <div class="caption bg-primary line-height"><%=data.first_name.charAt(0)+data.last_name.charAt(0)%></div>
                    </a>
                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton03">
                        <div class="card mb-0">
                            <div class="card-header d-flex justify-content-between align-items-center mb-0">
                            <div class="header-title">
                                <h4 class="card-title mb-0">Profile</h4>
                            </div>
                            <div class="close-data text-right badge badge-primary cursor-pointer ">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            </div>
                            <div class="card-body">
                                <div class="profile-header">
                                    <div class="cover-container text-center">
                                        <div class="rounded-circle profile-icon bg-primary mx-auto d-block">
                                            <%=data.first_name.charAt(0)+data.last_name.charAt(0)%>                                                   
                                            <a href="#">
                                            </a>
                                        </div>
                                        <div class="profile-detail mt-3">
                                        <h5><a href="/user/edit"> <%=data.first_name+"_"+data.last_name%> </a></h5>
                                        <p><%=data.email%></p>
                                        </div>
                                        <a href="auth-sign-in.html" class="btn btn-primary">Sign Out</a>
                                    </div>
                                    <div class="profile-details mt-4 pt-4 border-top" style="max-height: 40vh;overflow-y: scroll;" id="notifictions">
                                        <%
                                        for(let datax of data.notification.data){
                                            let author = datax.content.author;
                                        %>
                                        <div class="media align-items-center mb-3"><div class="rounded-circle iq-card-icon-small bg-primary" data-toggle="popover" data-placement="right" title="<%=datax.content.author%>" data-content="<%=datax.content.author%>">
                                            <%=author.charAt(0)+author.charAt(1)%>                                </div>
                                        <div class="media-body ml-3">
                                            <div class="media justify-content-between">
                                                <%=datax.content.msg%>
                                           <!-- <p class="mb-0 font-size-12">svlmehul@gmail.com</p>-->
                                            </div>
                                            <p class="mb-0 font-size-12">
                                            <a target="_blank" href="<%=datax.content.data.url%>" class="btn btn-sm btn-primary">view</a>
                                            </p>
                                        </div></div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>                     
            </div> 
        </div>
    </nav>
</div>